@model PeopleViewModel

<p></p>
<p>Partial View with Ajax/jQuery</p>

<table class=" table table-striped">

    <th>Name</th>
    <th>City</th>
    <th>Phone Number</th>
    <th>Id</th>

@foreach (var person in Model.People)
{
<tr>
    <td>@person.Name</td>
    <td>@person.City</td>
    <td>@person.PhoneNumber</td>
    <td>@person.PersonId</td>
</tr>
}
</table>


@{
    if (Model.deleteSuccess)
    {
        <p>@Model.personDeleted was deleted</p>
    }
}
