@model Person

<tr>
	<td>@Model.PersonId</td>
	<td>@Model.Name</td>
	<td>@Model.City.CityName</td>
	<td>@Model.PhoneNumber</td>

	<td>

		<a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@Model.PersonId">Edit</a>
		@if (User.IsInRole("Admin"))
		{
			<a class="btn btn-danger btn-sm" asp-controller="People" asp-action="Delete" asp-route-id="@Model.PersonId">Delete</a>
		}
		
	</td>
</tr>
