@model Person

<tr>
    <td>@Model.PersonId</td>
    <td>@Model.Name</td>
    <td>@Model.City.CityName</td>
    <td>@Model.PhoneNumber</td>
    <td>
<form method="post">
 <button
    class="btn"
    asp-controller="People"
    asp-action="Delete"
    asp-route-id="@Model.PersonId"
>Delete</button>
</form>
</td>
</tr>
