@*@model IEnumerable<Person>*@
@model IEnumerable<Language>
@{
    ViewData["Title"] = "EditLanguage";
	string person = "";
}

<h1>Edit Language</h1>

<form asp-action="EditLanguage" method="post">
	<div class="form-group col-sm-3">
		<label>Edit language for: </label>
		<select name="languageId" class="form-control" asp-items="ViewBag.People">
			<option value="" selected disabled>Select Person</option>
		</select>
	</div>
	<p></p>
	<input type="submit" value="Submit" name="languageId" class="btn btn-secondary btn-sm" />
</form>

<!-- List Persons and Languages -->
<table class=" table table-striped">

	@*<th>Name</th>
	<th>Language(s)</th>
	<th>Delete</th>*@

	@foreach (var lang in Model)
	{
		<tr>
			<td>@lang.LanguageName</td>
			

			@foreach (var pers in lang.People)
			{
				@*person = person + pers.Name + " ";
				<td>@person</td>*@
				<td>@pers.Name</td>
				<td><a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-languageId="@person">Del</a></td>
			}
			@*<td>@person</td>*@
			

		</tr>

		person = "";
	}
</table>