@model IEnumerable<Person>

@{
	ViewData["Title"] = "Index";
	string languages = "";
}

<h1>Persons Languages</h1>

<div class="form-group row">
	<p>
		<a asp-action="AddNewLanguage" class="btn btn-secondary btn-sm" role="button">Add / Delete language</a>
	</p>
</div>



<!-- List Persons and Languages -->
<table class=" table table-striped">

	<thead>
	<th>Name</th>
	<th>Known Languages</th>
	<th>Manage Person Languages</th>
	</thead>

	@foreach (var person in Model)
	{
		<tr>
			<td>@person.Name</td>

			@foreach (var language in person.Languages)
			{
				languages = languages + language.LanguageName + " ";

			}
			<td>@languages</td>
			<td>
				<a class="btn btn-secondary btn-sm" asp-action="Delete" asp-route-personid="@person.PersonId">Delete</a>
				<a class="btn btn-secondary btn-sm" asp-action="AddLanguageToPerson" asp-route-personid="@person.PersonId">Add</a>
				@*<a class="btn btn-secondary btn-sm" asp-action="AddLanguageToPerson">Add</a>*@
			</td>
			
		</tr>

		languages = "";
	}
</table>

<div>
	<span style="color:red">@ViewBag.Exists</span>
</div>


